.movie-img-style{
    margin: 20px;
}
.img-style-info{
    max-height: 600px;
    max-width: 700px;
    min-width: 300px;
    min-height: 300px;
    margin: 1px;
}
.movie-style{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.movie-name{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
    color: white;
}
.some-info{
    padding: 20px;
    border-radius: 10px;
    border: #707068 solid 1px;
    max-width: 600px;
    min-width: 400px;
}
.description{
    margin-bottom: 20px;
 text-align: justify;
}