.search{
    background: url('../../img/iconmonstr-magnifier-4-32.png');
    height: 32px;
    width: 32px;
    margin: 20px !important;
    margin-right: 30px !important;
}
.input-top-dark {
    transition: width 0.4s, height 0.4s, background-color 0.1s ease;
    border-radius: 300px;
    padding: 3px 20px;
    background-color: #515151;
    border: none;
}

.input-top-white {
    transition: width 0.4s, height 0.4s;
    border-radius: 300px;
    padding: 3px 20px;
}

.block{
    display: flex;
    flex-direction: row;
}
.search-up {
    height: 30px;
    width: 100px
}
.search-down {
    height: 30px;
    width: 200px;
    background-color: white;
}