.time-tables {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 95%;
}

.btn-time-table {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 250px;
}

.img-style-time-table {
    max-width: 200px;
    max-height: 200px;
}

.one-movie-time-tables {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 15px;
    border-radius: 8px;
    border: #707068 solid 1px;
    padding: 20px;
}

.margin-auto {
    margin: auto;
}

.tile-list {
    max-width: 200px;
}

.add-movie-time-table{
    justify-content: center;
}

.add-movie-time-table:hover{
    border: #4a7044 solid 1px;
}

.add-movie-time-table:hover * {
    color: #4a7044;
}

.add-movie-time-table:active {
    border: #706c32 solid 1px;
}

.add-movie-time-table:active * {
    color: #706c32;
}

.x-mark{
    color: #5b8729;
    margin-left: 10px;
    font-size: 11px;
    align-self: center;
    border: solid 2px #282828;
    border-radius: 3px;
    padding: 1px;
    padding-top: 3px !important;
}

.btn-delete-time{
    border: solid black 2px;
    border-radius: 3px;
    background-color: #47b752;
    color: #262626;
    margin-left: 10px;
    font-size: 11px;
    align-self: center;
    padding: 1px;
    padding-top: 3px !important;
}

.btn-delete-time:hover{
    border: solid #ffffff 2px;
    background-color: #b7ad36;
    color: #000000;
}

.x-mark:hover{
    color: #dd7e5b;
    border: solid 2px #cda9a0;
}

.x-mark:active{
    color: #dd1100;
    border: solid 2px #522e24;
}
